<ion-content [fullscreen]="true" scroll-y="false">

  <ion-grid>
    <ion-row>
    <ion-col size="12">
  <div class="img1">
    <img src="../../assets/img/Saly-44.png" alt="earth" class="img 1">
  </div>
</ion-col>
</ion-row>
  
  <div>
    <h1>Envie de parcourir ta ville,<br>
      où t’amuser entre amis?...</h1>
  </div>
  
  <div>
    <ion-button class="button" color="primary" routerLink="/home">Suivant</ion-button>
  </div>
  
  <div>
    <img src="../../assets/img/Saly-14.png" alt="earth" class="img2">
  </div>

  </ion-grid>
</ion-content>