<ion-content scroll-y="false">

  <div>
   <img src="../../assets/img/wave2.png" alt="waves" class="waves">
  </div>
 
   <div class="spaceship">
   <img src="../../assets/img/spaceship.png" alt="spaceship" class="spaceshipimg" >
   </div>


    <form [formGroup]="signupform">
      <div class="form">

        <p>User Name:</p>
        <input type="text" placeholder="User name" formControlName="username">
    
          <p>Email:</p>
          <input type="mail" placeholder="Your email address" formControlName="email">
        
    
        
          <p>Mot De Passe:</p>
          <input type="password" placeholder="Password" formControlName="password">
        
    
          <p>Confirmation du Mot De Passe:</p>
          <input type="password" placeholder="Confirm Password" formControlName="confirmpassword">
        
       </div>
    
       <div>
        <ion-button  color="success" type="submit" class="sign-up" [disabled]="!signupform.valid" (click)="signup()">S'inscrire</ion-button>
      </div>
    
    </form>
    <div class="ion-text-center" routerLink="/login">
      <p>Already have account?</p>
      <p>Login</p>
    </div>
  <div>
    <p class="p"> <span>Ou continuez avec:</span></p>
  </div>



  <ion-row>
    <ion-button color="primary" routerLink="" class="bottom-button">
      <ion-icon slot="icon-only" name="logo-google" class="logo"></ion-icon>
    </ion-button>
    <ion-button color="primary" routerLink="" class="bottom-button">
      <ion-icon name="logo-facebook" class="logo"></ion-icon>
    </ion-button>
    <ion-button color="primary" routerLink="" class="bottom-button">
      <ion-icon slot="icon-only" name="logo-apple"  class="logo"></ion-icon>
    </ion-button>
  </ion-row>