

<ion-content scroll-y="false">

 <div>
  <img src="../../assets/img/wave1.png" alt="waves" class="waves">
 </div>

 <div>
  <p class="text">Swipe et Découvre <br>
    les trésors de ta ville...</p>
 </div>

  <div class="earth">
  <img src="../../assets/img/Saly-44.png" alt="earth" class="earthimg" >
  </div>

  <div>
  <ion-button  color="success" routerLink="/signup" class="sign-up">S'inscrire</ion-button>
  </div>

  <div>
    <ion-button color="success" fill="outline" routerLink="/login" class="log-in">Se connecter</ion-button>
  </div>


  <div>
    <p class="p"> <span>Ou continuez avec:</span></p>
  </div>

  <ion-row>
    <ion-button color="primary" routerLink="/home" class="bottom-button">
      <ion-icon slot="icon-only" name="logo-google" class="logo"></ion-icon>
    </ion-button>
    <ion-button color="primary" routerLink="/home" class="bottom-button">
      <ion-icon name="logo-facebook" class="logo"></ion-icon>
    </ion-button>
    <ion-button color="primary" routerLink="/home" class="bottom-button">
      <ion-icon slot="icon-only" name="logo-apple"  class="logo"></ion-icon>
    </ion-button>
  </ion-row>
</ion-content>
